name: deploy-paste2share-ec2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: aws_ec2

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Copy repository to EC2
        run: |
          ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            cd ${{ vars.APP_PATH}}
            git fetch origin
            git reset --hard origin/main
          EOF

      - name: Build and deploy with Docker on EC2
        env:
          NEXT_PUBLIC_API_URL: ${{ vars.NEXT_PUBLIC_API_URL }}
          NODE_ENV: ${{ vars.NODE_ENV }}
          PORT: ${{ vars.PORT }}
        run: |
          ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << EOF
            set -e
            cd ${{ vars.APP_PATH }}

            echo "Exporting env vars..."
            export NEXT_PUBLIC_API_URL="${NEXT_PUBLIC_API_URL}"
            export NODE_ENV="${NODE_ENV}"
            export PORT="${PORT}"

            echo "NEXT_PUBLIC_API_URL=$NEXT_PUBLIC_API_URL"
            echo "NODE_ENV=$NODE_ENV"
            echo "PORT=$PORT"

            echo "===> Building and starting containers with run.sh"
            ./run.sh docker production

            echo "===> Cleaning up old images"
            docker image prune -f

            echo "===> Deploy completed successfully!"
          EOF
